[submodule "3rd-party/json"]
	path = 3rd-party/json
	url = https://github.com/nlohmann/json.git
[submodule "3rd-party/spdlog"]
	path = 3rd-party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rd-party/CLI11"]
	path = 3rd-party/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "3rd-party/protobuf"]
	path = 3rd-party/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
